@{
    ViewData["Title"] = "Авторизация";
}

<div class="AuthContainer">
    <div class="text-center">
        Логин
    </div>
    <input class="AuthRow" type="text" />
    <div class="text-center">
        Пароль
    </div>
    <input class="AuthRow" type="text" />
    <button class="AuthRow" asp-controller="Auth" asp-action="Login">Войти</button>
     
</div>